## PumpK's gitignore for SV workspace ##

#Exclude vivado Folder
**/FlagGame.sim/**
**/FlagGame.hw/**
**/FlagGame.cache/**
#Exclude vivado File
**.jou
**.log
**.str
**.debug

#Exept gitignore
!.gitignore