## PumpK's gitignore for SV workspace ##

#Exclude vivado Trees
**/FlagGame.cache/**
**/FlagGame.sim/**
**/FlagGame.hw/**
**/.xil/**
#Exclude vivado File
**.debug
**.jou
**.log
**.str

#Exept gitignore
!.gitignore